extends layout

block content
	form.form-group(action="/search", method="post")
				input#searchinput.searchinput(type="text", placeholder="search for patient", name="search")
				input(type="submit", value="Search")
	h2.add Add Patient:
	form.form2(action='/addPatient', method="post")
		paper-input.input5(floatingLabel label="name", type="text", name="name", placeholder="Add Patient")
		paper-input.input5(floatingLabel label="dob", type="text", name="dob", placeholder="Add Patient")
		paper-input.input5(floatingLabel label="social", type="text", name="social", placeholder="Add Patient")
		paper-input.input5(floatingLabel label="amount", type="number", name="amount", placeholder="Add Patient")
		input(type='submit')





