doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		title Revive
		
		script(src='../bower_components/webcomponentsjs/webcomponents.js')
		script(src="../bower_components/sweetalert/dist/sweetalert.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="/script.js")
		link(rel="stylesheet" type="text/css" href="../bower_components/sweetalert/dist/sweetalert.css")
		link(rel='import', href='../bower_components/paper-button/paper-button.html')
		link(rel='import', href='../bower_components/paper-tabs/paper-tabs.html')
		link(rel='import', href='../bower_components/paper-input/paper-input.html')
		link(rel='import', href='../bower_components/paper-menu-button/paper-menu-button.html')
		link(rel='import', href='../bower_components/paper-icon-button/paper-icon-button.html')
		link(rel='import', href='../bower_components/paper-dropdown/paper-dropdown.html')
		link(rel='import', href='../bower_components/core-menu/core-menu.html')
		link(rel='import', href='../bower_components/paper-item/paper-item.html')
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		<link rel="stylesheet" href="/styles.css">
		link(rel="stylesheet", type="text/css", href="/main.css")
	body
		div#menubar
			div#header
				a(href='/')
					h1#title TradeGrid
			div#cssmenu
				<ul id='nav'>

				<li class='has-sub'><a href='#'>Account Overview</a>
				<ul>
				<li class='has-sub'><a href='#'>Positions</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Balance</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Gain/Loss</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Watch List</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Portfolio Planner</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				</ul>
				</li>


				<li class='has-sub'><a href='#'>Trade</a>
				<ul>
				<li class='has-sub'><a href='#'>Order Status</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Saved Orders</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Trade Triggers</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Autotrade</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				</ul>
				</li>



				<li class='has-sub'><a href='#'>Research & Ideas</a>
				<ul>
				<li class='has-sub'><a href='#'>Stock Summary</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Options Research</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Charts</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Alerts</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>IPOs</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				</ul>
				</li>

				<li class='has-sub'><a href='#'>Sign in/Join</a>
				<ul>
				<li class='has-sub'><a href='#'>Watch List</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Portfolio Planner</a>
				<ul>
				<li><a href='#'>Sub Product</a></li>
				<li><a href='#'>Sub Product</a></li>
				</ul>
				</li>
				</ul>
				</li>

				</ul>
		div.block1
		div.block2
		div.body1
			h6.acctinfo Balances >
			div.acctpt1
				img(src='/img/acct1.png' width="40%")
			h6.acctinfo Positions >
			div.acctpt2
				img(src='/img/acct2.png' width="80%")
		div.body2
			h5#indices Indices(market snapshot):
			img#indexes(src="/img/indices.png")
		//- button.btn1(onclick='sweetAlert("Oops...", "Something went wrong!", "error");') Press Me

		div.sidebarHeader
			img#toggle(src="/img/collapseIcon.png" height="25px")
		div.sidebar
			div.stats
				h5
					b Account Balance
				h6 Account
				h6 account_name
				h6   Cash & cash alt
				h6   Stock BP
				h6   Options BP
				h6
					b Account value
		div.btmblock
			div.btmbar
				form(action="/getQuote", method="post")
					input#quoteinput(type="text")
					input(type="submit", value="Quote")
				form#quoteaction(action="/actionQuote", method="post")
					label.label(for="action") Action
					<select id="action",form="quoteaction" name="action">
					<option value="buy">Buy</option>
					<option value="sell">Sell</option>
					</select>
					label.label(for="quantity") Quantity
					input(type="text", class="input", id="quantity", name="quantity")
					label.label(for="type") Type
					<select form="quoteaction", id="type", class="input", name="type">
					<option value="limit">Limit</option>
					<option value="stopmkt">Stop Mkt</option>
					<option value="stoplimit">Stop limit</option>
					<option value="tstopper">T-stop %</option>
					<option value="tstop">T-stop $</option>
					</select>
					label.label(for="price") Price
					input(type="text", id="price", class="input", name="price")
					label.label(for="time") Time
					<select form="quoteaction", id="time", class="input", name="time">
					<option value="day">Day</option>
					<option value="dayext">Day + ext</option>
					<option value="gtc">GTC</option>
					<option value="gtc">GTC + ext</option>
					<option value="extam">Ext. AM</option>
					<option value="extpm">Ext. PM</option>
					</select>
					input(type="submit")
			div.btmbarHeader
		block content
		script(src="/client.js")