
/*layout*/
#quoteaction{
	margin-top: 40px;
}
.input{
	margin-left: 10px;
}

.label{
	position:absolute;
	top: 50px;
	margin-left: 5px;
	margin-top: 0px;
	font-size:11px;
	color:black;
}
#menubar{
	margin:0;
	padding: 0;
	height:7%;
	width:100%;
	background:#989898;
	z-index: -1;
}
#cssmenu{
	/*position:fixed;
	top:0;*/
	margin-top: -65px;
	background:#989898;
	width:516px;
	/*height:7%;*/
	float: right;
	clear:both;
	z-index: 1;
}
#title{
	font-family: 'NASDAQER', sans-serif;
	margin-top: 0px;
	padding: 10px;
	color:white;
}
.btmblock{
	margin-top: 592px;
	height:160px;
	width:926px;
	/*width:973px;*/
	/*position: absolute;*/
	/*top:533px;*/
	float: right;
}
.btmbar{
	background-color: #F9F9F9;
	width:926px;
	height: 134px;
	position:absolute;
	/*float: right;*/
	top:650px;
}
.btmbarHeader{
	background-color: grey;
	width:926px;
	height: 30px;
	position:absolute;
	top:784px;
	/*left:489px;*/
}
.sidebarHeader{
	/*position:fixed;
	top:7%;
	left:75%;*/
	background-color: grey;
	width:30px;
	height:93%;
	float: right;
	clear: right;
}
.nav {
	margin-top: -63px;
	margin-right: 40px;
}
/*ul li a {
	color:white;
	font-size: 13px;
}
ul li a:hover {
	background:#989898;
}*/
.sidebar{
	/*position:fixed;
	top:7%;
	left:75%;*/
	border-left: 1px solid grey;
	background-color: #F9F9F9;
	width:293px;
	height:93%;
	float: right;
	clear:left;
	z-index: 1;
}
#toggle{
	margin-left: 2px;
	margin-top: 5px;
	z-index: 1;
}





.team1{
	width:15%;
	height:10%;
	margin: 5% 0 0 30%;
	border-radius: 100px;
}
.team2{
	width:12.5%;
	margin: 5% 0 0 10%;
	border-radius: 100px;
}
h3{
	text-align: center;
}

.form1{
	position:absolute;
	left:350px;
	top:160px;
}
.input1{
	width:600px;
}
.table1{
	position:absolute;
	border:2px solid black;
	border-bottom:none;
	width:660px;
	min-height: 350px;
	height: auto;
	left:350px;
	top:190px;
}
#indices{
	margin-left: 30px;
}
#indexes{
	margin-left:80px;
	margin-top: -10px;
	width:80%;
	height:80%;
}
.acctinfo{
	margin-left: 25px;
}
.acctpt1{
	margin-top: -22px;
	margin-left: 130px;
}
.acctpt2{
	margin-top: -10px;
	margin-left: 105px;
}



/*@media screen and (max-width: 400px) {
    .show1{
		display:initial;
		
    }
    .show2{
    	display:none;
    	float:right;
    }
}*/



.table5 {
	margin: auto;
	margin-top: 75px;
}
.table5 td{
	width:150px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color:black;
}
h2{
	text-decoration: none;
	color:black;
}
h2:hover{
	text-decoration: none;
	color: black;
}
.form2{
	position: fixed;
	left:45%;
	width:230px;
}
.input5{
	width:200px;
}
.add{
	position:fixed;
	top:170px;
	left:400px;
}


#quoteinput{
	width:75px;
}
#quoteinput:focus{
	outline: 0;
}
#action:focus{
	outline: 0;
}
#quantity:focus{
	outline: 0;
}
#type:focus{
	outline: 0;
}
#price:focus{
	outline: 0;
}
#time:focus{
	outline: 0;
}


@media (max-width: 1109px) {
	label{
		visibility: hidden;
	}
	.btmbar{
		visibility:hidden;
	}
	.btmbarHeader{
		visibility:hidden;
	}
}
.btn1{
	position:absolute;
	top:550px;
	left:200px;
	z-index: 1;
}

ul{
	float:right;
}

/*.pic1{
	margin-top: -8px;
}
.pic2{
	margin-top: -8px;
	margin-left:-21.25px;
}*/
/*.block1{
width:100px;
height:94%;
position:fixed;
border:1px solid black;
top:55px;
left:250px;
z-index: -1;
}
.block2{
width:1570px;
height:100px;
border:1px solid black;
position:fixed;
top:550px;
z-index: -1;
}*/
.stats{
	width:90%;
	height:30%;
	padding:10px;
	color: black;
	border: 2px solid grey;
	margin: auto;
	margin-top: 15px;
}
.body1{
	position: fixed;
	width:51%;
	height:23%;
	top: 100px;
	left: 400px;
	background-color: #F9F9F9;
}
.body2{
	position: fixed;
	width:51%;
	height:23%;
	top: 305px;
	left: 400px;
	background-color: #F9F9F9;
}

/*.btmbar{
	background-color: #F9F9F9;
	width:780px;
	height: 250px;
	position:fixed;
	top:533px;
	left:489px;
}
.btmbarHeader{
	background-color: grey;
	position:fixed;
	top:783px;
	left:489px;
	width:780px;
	height: 30px;
}*/






html{
	height: 100%;
	width:100%;
    margin: 0;
    padding:0;
    font-family: 'NASDAQER', sans-serif;
}
body{
	height: 100%;
	width:100%;
    margin: 0;
    padding:0;
    background-color: #E5E5E5;
}

  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-transform: uppercase;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
}


